{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<div class="buy_margin">
    <h1 id="portfolio">Buy Stock</h1> <br> <br>
    <h1 id="elongate">This is just written to elongate page</h1>
    
    <form action="/buy" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"> <br> <br>
            <input autofocus class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
</div>
{% endblock %}