{% extends "layout.html" %}

{% block title %}
Transactions
{% endblock %}

{% block main %}
<div>
    <h1 id="account_summary">Account Summary</h1>

    <table class="summary">
        <thead id="table_head">
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Profit/Loss</th>
            <th>Transacted</th>
        </thead>
        <tbody>
            {% for transaction in history %}
            <tr>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.price | format_money}}</td>

                {% if transaction.profit == 0 %}
                <td>-</td>
                {% elif transaction.profit > 0 %}
                <td style="color:green;">{{ transaction.profit | format_money}}</td>
                {% else %}
                <td style="color:red;">{{ -transaction.profit | format_money}}</td>
                {% endif %}

                <td>{{ transaction.time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    <footer class="small text-center text-muted">
        Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a
            href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
    </footer>
    <br><br>
</div>
{% endblock %}